
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Details";
}
        
<h1>@ViewBag.Name</h1>
<h3>Book Price: @ViewBag.BookPrice</h3>
<h3>Book Description:</h3>
<div>@Html.Raw(ViewBag.BookDescription)</div>

@if(ViewBag.Authors.Length>0)
{
<h5>Authors:</h5>

<div>
    <ul>
        @foreach (var Artists in ViewBag.Authors)
        {
            <li>@Artists</li>
        }
    </ul>
</div>
}
