@model ComicBookDetails.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Details";
}
        
<h1>@Model.SeriesName</h1>
<h3>Book Price: @Model.IssueNumber</h3>
<h3>Book Description:</h3>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if(Model.Authors.Length>0)
{
<h5>Authors:</h5>

<div>
    <ul>
        @foreach (var AuthorsMod in Model.Authors)
        {
            <li>@AuthorsMod.Name:@AuthorsMod.Role</li>
        }
    </ul>
</div>
}
