
@{
    ViewBag.Title = "Detail";

    var Name = "Half Girlfriend";
    var bookPrice = 700;
    var bookDescription = "<p>Chetan Bhagat published his first novel first novel 'Five Point Someone' in 2004 and this very first venture took him to the peaks of fame and popularity. The book depicted the story of an IIT student who considers himself to be below average than all the other students in IIT.</p>";
    var Authors = new string[]
    {
        "Chetan Bhagat:Author",
        "Naga Deepika: Assosiate Writer",
        "Bala Bhargav: Chief Executive",
        "Randeep Singh: Editor Lineup",
        "Srinivas Rao:Producer Of Book"

    };
}

<html>
<head>
<title></title>
</head>
<body>
    <div>
        <h1>@Name</h1>
        <h3>Book Price: @bookPrice</h3>
        <h3>Book Description:</h3>
        <div>@Html.Raw(bookDescription)</div>

       @if(Authors.Length>0)
        {
        <h5>Authors:</h5>

        <div>
            <ul>
                @foreach (var Artists in Authors)
                {
                    <li>@Artists</li>
                }
            </ul>
        </div>
        }


    </div>
</body>

</html>

